
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

CONFIG_CODEC_DUMMY_SUPPORT=y
CONFIG_CODEC_DATA_ADC_SUPPORT=y
CONFIG_APP_CLAW_LUA_MODULE_IMU=y
CONFIG_LUA_MODULE_IMU_CHIP_BMI270=y
CONFIG_APP_CLAW_LUA_MODULE_MAGNETOMETER=y
CONFIG_LUA_MODULE_MAGNETOMETER_CHIP_BMM150=y
CONFIG_APP_CLAW_LUA_MODULE_FUEL_GAUGE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART_NUM=-1

CONFIG_CAMERA_BF3901=y
CONFIG_CAMERA_BF3901_SPI_RGB565_240X320_15FPS=y
CONFIG_CAMERA_BF3901_SPI_YUV422_240X320_15FPS=n
CONFIG_CAM_CTLR_SPI_ISR_CACHE_SAFE=n

# disable hardware acceleration for save gdma channels
CONFIG_MBEDTLS_HARDWARE_AES=n
CONFIG_MBEDTLS_HARDWARE_MPI=n
CONFIG_MBEDTLS_HARDWARE_SHA=n
CONFIG_MBEDTLS_HARDWARE_ECDSA_VERIFY=n
